body {
  padding: 0;
  margin: 0;
}

html, body, #indego-stations, .stations-list {
  height: 100%;
}



.timestamp {
  position: absolute;
  z-index: 1;
}

.stations-list {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  overflow-y: scroll;
  list-style-type: none;
}